In [3]:
#webscrapping project

In [ ]:
from bs4 import BeautifulSoup
import requests

In [5]:
url='https://stockanalysis.com/list/sp-500-stocks/'

In [7]:
headers={
        'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36'

}

In [11]:
path=requests.get(url,headers=headers)

In [15]:
soup=BeautifulSoup(path.text,'html')

In [33]:
t=soup.find_all('table',class_="symbol-table svelte-utsffj")

In [41]:
column=soup.find_all('th')

In [45]:
column_name= [col.text for col in column]
print(column_name)

['No. ', 'Symbol ', 'Company Name ', ' Market Cap  ', 'Stock Price ', '% Change ', 'Revenue ']

In [71]:
import pandas as pd
df=pd.DataFrame(columns=column_name)

In [73]:
df

Empty DataFrame
Columns: [No. , Symbol , Company Name ,  Market Cap  , Stock Price , % Change , Revenue ]
Index: []

In [57]:
row=soup.find_all('tr')

In [83]:
for r in row[1:]:
    row_name=r.find_all('td')
    row_names= [ro.text for ro in row_name]
    #print(row_names)
    length=len(df)
    df.loc[length]=row_names

In [85]:
df

,No.,Symbol,Company Name,Market Cap,Stock Price,% Change,Revenue
0,1,AAPL,Apple Inc.,"3,561.72B",236.85,-2.41%,391.04B
1,2,NVDA,NVIDIA Corporation,"3,328.44B",135.91,-3.00%,113.27B
2,3,MSFT,Microsoft Corporation,"3,114.84B",418.95,-1.32%,254.19B
3,4,GOOG,Alphabet Inc.,"2,357.02B",193.17,-1.14%,339.86B
4,5,GOOGL,Alphabet Inc.,"2,350.76B",192.04,-0.98%,339.86B
...,...,...,...,...,...,...,...
498,499,CE,Celanese Corporation,7.11B,65.01,0.11%,10.48B
499,500,PARA,Paramount Global,6.99B,10.48,-1.50%,28.87B
500,501,BWA,BorgWarner Inc.,6.79B,31.04,-1.59%,14.17B
501,502,CZR,"Caesars Entertainment, Inc.",6.68B,31.43,-1.72%,11.27B
502,503,FMC,FMC Corporation,6.19B,49.59,-1.43%,4.17B

In [89]:
df.to_csv(r'C:\Users\ranji\Desktop\project\spx_500.csv',index=False)